---
---
@import "{{ site.theme }}";

body {
  background-color: #f0f0f5; 
}

.post-card {
  background-color: #ffffff;
  color: #1a1a1a; 
  border-radius: 8px;
  padding: 20px;
  border: 1px solid #ccc;
  text-decoration: none;
  transition: background 0.2s ease;
}

.post-card:hover {
  background-color: #e6e6ff;
}

/* Post title color */
.post-card h3 {
  color: #003366;
}
